body {
	background-color: #F5F5F5;
	font-family: helvetica;
}

code {
	font-family: Consolas !important;
}

p {
	color: #666;
	font-family: helvetica;
	font-size: 1.0em;
}

nav	{
	background-color: #49C99A;
	padding: 10px 0;
}

#nav-header{
	color: #FFF;
	font-size: 1.5em;
	padding: 0 0 0 15px;
}

#nav-header p {
	padding: 0 !important;
}

#page-title {
	color: #666;
	margin: 0 0 20px 0;
}

.alert {
	margin-bottom: 0;
	margin-top: 10px;
}

#search-header {
	margin-bottom: 0;
}

.search-result-content {
	margin-bottom: 0px !important;
}

#search-results-container {
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	margin-top: 20px;
	padding: 15px;
}

.search-result-item {
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
	padding-top: 10px;
}

.comment-container {
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
}

.comment-para {
	padding-top: 10px;
}

.post-para {

}

h3.post-head {
	font-size: 1.4em;
	margin-top: 0 !important;
	color: #666 ;
}

.message-alert {
	margin: 0 15px 20px 15px;
}

.label-link {
	text-decoration: none !important;
}

.label-link:hover {
	text-decoration: none !important;
}


/* Programming Languages Colours */

.label {
	padding: 3px 6px;
	font-weight: normal !important;
}

.html {
	background-color: #39add1 !important;
}

.css {
	background-color: #3079ab !important;
}

.javascript {
	background-color: #c25975 !important;
}

.java {
	background-color: #2c9676 !important;
}

.ruby {
	background-color: #e15258 !important;
}

.wordpress {
	background-color: #838cc7 !important;
}

.php {
	background-color: #7d669e !important;
}

.ios {
	background-color: #53bbb4 !important;
}

.android {
	background-color: #51b46d !important;
}

.devtools {
	background-color: #637a91 !important;
}

.python {
	background-color: #f092b0 !important;
}

.programming {
background-color: #c38cd4 !important;
}

.undefined {
	background-color: #b7c0c7 !important;
}


/**********************\
       Form CSS
\**********************/

.form {
	background: #FFF;
	border-radius: 1px solid #999;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.form-header-container{
	background-color: #EBEBEB;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #d8d8d8;
	margin: 0 !important;
	padding: 10px;
}

.form-header {
	color: #777;
	font-family: helvetica;
	font-size: 1.1em;
	font-weight: bold;
}

.form-body {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #d8d8d8;
	padding: 0 10px 10px 10px;
}

.form-group {
	margin-bottom: 0 !important;
}

.form-last {
	padding-bottom: 20px;
}

.form-label {
	color: #8C8C8C;
	font-family: helvetica;
	font-weight: normal;
}

.form-search {
	font-size: 1.3em;
	margin-bottom: 10px;
	padding: 20px 10px;
}

.form-button {
	background-color: #49C99A;
	border-radius: 5px;
	border: none !important;
	color: #FFF !important;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	padding: 10px 15px;
}

.form-button:hover {
	color: #FFF !important;
}

.form-button:active {
	background-color: #3DA881;
	color: #FFF !important;
}

.form-button:focus {
	outline: 0 !important;
}

.form-button:after {
	color: #FFF;
}

input {
	border: 1px solid #d8d8d8 !important;
}

.forgot{
	float: right;
	margin-top: 10px;
}

.username-group {
	margin-top: 20px;
}

.clear {
	clear: both;
}

.posted-by {
	clear:both;
}

#container {
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	margin: 15px;
	padding: 15px;
}